html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

body {
	background-color: #0c0c1d;
	color: lightgray;
}

a {
	text-decoration: none;
	color: inherit;
}

section {
	height: 100vh;
	scroll-snap-align: center;
}

.course {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	width: 200px;
	height: 200px;
	background-color: white;
	color: black;
}

@mixin mobile {
	@media (max-width: 700px) {
		@content;
	}
}
@mixin tablet {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin desktop {
	@media screen and (max-width: 1366px) {
		@content;
	}
}

// import this into a .scss and add v into scss selektor.target
// @include mobile {
// 	justify-content: center;dn;
// }
